.main-frame {
  display: flex;
  justify-content: center;
}
.main-window {
  background-image: linear-gradient(to bottom right, #FFFBC2, #FDF196, #ECC876);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100vh;
  position: relative;
  border-radius: 10px;
}
.main-header {
  font-family: Luckiest Guy, cursive;
  position: absolute;
  color: #36454F;
  font-size: 4rem;
  top: 5rem;
}

.button {
  position: absolute;
  width: 50%;
  font-size: 2rem;
  border-radius: 20px;
  bottom: 1rem;
  margin-left: 12%;
}

.easy {
  margin-bottom: 3rem;
}

.option {
  position: absolute;
  height: 5%;
  aspect-ratio: 1;
  top: 0;
  right: 0;
}

@media screen and (max-width: 700px) {
  .main-window {
    width: 100vw;
  }
}
